@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat&display=swap");

html > body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  height: "100vh";
   color: white;
   background-color: skyblue;
}

#content {
  font-family: "Architects Daughter", cursive;
}

@media all and (min-width: 1920px) {
  #content {
    font-size: 4.3vw;
  }
}
@media all and (max-width: 1920px) {
  #content {
    font-size: 7vw;
  }
}